<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="utf-8">
    <title>Turning Pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your page description here" />
    <meta name="author" content="" />

    <!-- css -->
    <link href='{%static "css/bootstrap.css"%}' rel="stylesheet" />
    <link href='{%static "css/bootstrap-responsive.css"%}' rel="stylesheet" />
    <link href='{%static "css/prettyPhoto.css"%}' rel="stylesheet" />
    <link href='{%static "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" %}' rel="stylesheet">
    <link href='{%static "css/style.css"%}' rel="stylesheet">

    <!-- Theme skin -->
    <link id="t-colors" href='{%static "color/blue.css"%}' rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="ico/favicon.png" />

    <!-- =======================================================
    Theme Name: Remember
    Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <ul class="topmenu">
                                <li><a href="#">Hello, {{request.session.name}}</a></li>
                            </ul>
                        </div>
                        <div class="span6">

                            <ul class="social-network">
                                <!-- <li><a href="#" data-placement="bottom" title="Facebook"><i
                                            class="icon-circled icon-bglight icon-facebook"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Twitter"><i
                                            class="icon-circled icon-bglight icon-twitter"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Linkedin"><i
                                            class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Pinterest"><i
                                            class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Google +"><i
                                            class="icon-circled icon-google-plus icon-bglight"></i></a></li> -->
                                <li><a href="/logout/"
                                        style="border: solid white 1px; color:white; padding:5px; border-radius:3px">LOGOUT</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">


                <div class="row nomargin">
                    <div class="span4">
                        <div class="logo">
                            <h1><a href="/"> <img src="../static/img/logo2.png" width="50px" height="50px"
                                        alt="">TURNING PAGES</a></h1>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        <li class="active"><a href="/home/">Home</a></li>
                                        <li>
                                            <a href="/diary/">Diary </a>
                                        </li>
                                        <li>
                                            <a href="/blog/">Blog </a>
                                        </li>
                                        <li>
                                            <a href="/profile/">Profile </a>
                                        </li>


                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="inner-heading">
                            <h2 style="color:#02746e;">Home</h2>
                        </div>
                    </div>
                    <div class="span8">

                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">

                <div class="row">
                    <div class="span12">
                        <h4>Quote for the day:</h4>
                    </div>
                    <div class="span12">
                        <div class="pricing-box-plain">
                            <div class="heading">
                                <h4>
                                    <blockquote></blockquote> People often say that motivation doesn't last. Well,
                                    neither does bathing - that's
                                    why we recommend it daily.
                                </h4>
                                <span>Zig Ziglar</span>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- divider -->
                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>
                <!-- end divider -->


                <div class="row">
                    <div class="span12">
                        <h4>Recommendations for you</h4>
                    </div>
                    <div class="span4">
                        <div class="pricing-box-wrap special">
                            <div class="pricing-heading">
                                <h3><strong>Movies</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <!-- <h6>&#36;15.00 / Month</h6> -->
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    {% for x,y in movies.items%}
                                    <li><i class="icon-play-circle"></i> {{x}}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div class="pricing-action">

                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="pricing-box-wrap special">
                            <div class="pricing-heading">
                                <h3> <strong>Podcasts</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <!-- <h6>&#36;25.00 / Month</h6> -->
                            </div>

                            <div class="pricing-content">
                                <ul>
                                    {% for x,y in podcasts.items%}
                                    <li><i class="icon-volume-up"></i> {{y}}</li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <!-- <a href="#" class="btn btn-medium btn-color"><i class="icon-bolt"></i> Sign Up</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="pricing-box-wrap special">
                            <div class="pricing-heading">
                                <h3> <strong>Books</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <!-- <h6>&#36;35.00 / Month</h6> -->
                            </div>

                            <div class="pricing-content">
                                <ul>
                                    <ul>
                                        {% for x,y in books.items%}
                                        <li><i class="icon-book"></i> {{y}}</li>
                                        {%endfor%}
                                    </ul>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <!-- <a href="#" class="btn btn-medium btn-color"><i class="icon-bolt"></i> Sign Up</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- divider -->
                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>
                <!-- end divider -->

        </section>



        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="copyright">
                            <p><span>&copy; Turning Pages. All right reserved</span></p>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/toucheffects.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/portfolio/jquery.quicksand.js"></script>
    <script src="js/portfolio/setting.js"></script>
    <script src="js/animate.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="js/custom.js"></script>

</body>

</html>