<!DOCTYPE html>
<html lang="en">

{%load static%}

<head>
    <meta charset="utf-8">
    <title>Turning Pages</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your page description here" />
    <meta name="author" content="" />

    <!-- css -->
    <link href='{%static "css/bootstrap.css"%}' rel="stylesheet" />
    <link href='{%static "css/bootstrap-responsive.css"%}' rel="stylesheet" />
    <link href='{%static "css/prettyPhoto.css"%}' rel="stylesheet" />
    <link href='{%static "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" %}' rel="stylesheet">
    <link href='{%static "css/style.css"%}' rel="stylesheet">

    <!-- Theme skin -->
    <link id="t-colors" href='{%static "color/blue.css"%}' rel="stylesheet" />

    <!-- css -->


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="ico/favicon.png" />


</head>

<body>

    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <ul class="topmenu">
                                <li><a href="#">Hello, {{request.session.name}}</a></li>
                            </ul>
                        </div>
                        <div class="span6">

                            <ul class="social-network">

                                <li><a href="/logout/"
                                        style="border: solid white 1px; color:white; padding:5px; border-radius:3px">LOGOUT</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">


                <div class="row nomargin">
                    <div class="span4">
                        <div class="logo">
                            <h1><a href="/"><img src="../static/img/logo2.png" width="50px" height="50px" alt="">
                                    TURNING PAGES</a></h1>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        <li><a href="/home/">Home</a></li>
                                        <li>
                                            <a href="/diary/">Diary </a>
                                        </li>
                                        <li>
                                            <a href="/blog/">Blog </a>
                                        </li>
                                        <li class="active">
                                            <a href="/profile/">Profile </a>
                                        </li>


                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="inner-heading">
                            <h2 style="color:#02746e;">Profile</h2>
                        </div>
                    </div>


                </div>
            </div>
        </section>


        <section id="content">
            <div class="container">
                <div class="row">

                    <div class="span4">

                        <aside class="left-sidebar">
                            <div class="widget">
                                <div class="video-container">
                                    <img src="../static/img/avatar.png"
                                        style="border-radius: 150px; widows: 150px; height:150px"> </img>
                                </div>
                            </div>


                            <div class="widget">

                                <h5 class="widgetheading">{{request.session.name}}</h5>
                                <p>
                                    {{request.session.gender}}
                                </p>
                                <p>{{request.session.email}}</p>

                            </div>
                        </aside>
                    </div>

                    <div class="span8">
                        <article>
                            <div class="row">


                                <form method="POST" style="padding: 50px;">
                                    <h5 class="widgetheading">Edit Profile</h5>
                                    {%csrf_token%}
                                    <div class="input-group">
                                        <input class="input--style-3" type="text" placeholder="Name" name="name"
                                            value={{request.session.name}}>
                                    </div>
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="gender">
                                                <option disabled="disabled" selected="selected"
                                                    value={{request.session.gender}}>Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>


                                    <div class="input-group">
                                        <input class="input--style-3" type="email" placeholder="Email" name="email"
                                            value={{request.session.email}}>
                                    </div>
                                    <!-- <div class="input-group">
                                        <input class="input--style-3" type="password" placeholder="Password"
                                            name="password">
                                    </div> -->

                                    <div class="p-t-10">
                                        <button class="btn btn--pill btn--green" type="submit">Change</button>
                                    </div>


                                </form>

                            </div>
                        </article>

                        <article>
                            <div class="row">
                            
                <div class="row">
                    <div class="span12" >
                        <h4>Emo-count</h4>
                    </div>
                    <div class="span4" style="width:25%">
                        <div class="pricing-box-wrap special">
                            <div class="pricing-heading">
                                <h3><strong>Happy</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <h2>{{ sentis['positive'] }}</h2>
                            </div>
                            <div class="pricing-content" style="padding-top: 30px; padding-bottom:30px">
                                <img src="../static/img/face.png" alt="" height="100" width="100">
                            </div>
                        </div>
                    </div>
                    <div class="span4" style="width:25%">
                        <div class="pricing-box-wrap special">
                            <div class="pricing-heading">
                                <h3> <strong>Neutral</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <!-- <h6>&#36;25.00 / Month</h6> -->
                            </div>

                            <div class="pricing-content" style="padding-top: 30px; padding-bottom:30px">
                
                                   <img src="../static/img/flush.png" height="100" width="100" alt="">
                        
                            </div>
                           
                        </div>
                    </div>
                    <div class="span4" style="width:25%">
                        <div class="pricing-box-wrap special">
                            <div class="pricing-heading">
                                <h3> <strong>Sad</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <!-- <h6>&#36;35.00 / Month</h6> -->
                            </div>

                            <div class="pricing-content" style="padding-top: 30px; padding-bottom:30px">
                        
                                    <img src="../static/img/tired.png" height="100" width="100" alt="">
                            
                            </div>
                           
                        </div>
                    </div>


                            </div>
                        </article>




                    </div>
                </div>
            </div>
        </section>




    </div>
    </section>
    <br><br>
    <footer>

        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="copyright">
                            <p><span>&copy; Turning Pages. All right reserved</span></p>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </footer>
    </div>
    </div>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/toucheffects.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/portfolio/jquery.quicksand.js"></script>
    <script src="js/portfolio/setting.js"></script>
    <script src="js/animate.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="js/custom.js"></script>

</body>

</html>